<section class="section"
         *ngIf="messageService.messages.length">
    <div class="container">
        <h2 class="title">Messages</h2>
        <div class="field">
            <div class="control">
                <button class="button"
                        (click)="messageService.clear()">Clear
                </button>
            </div>
        </div>
        <div class="content is-small">
            <blockquote *ngFor="let message of messageService.messages">{{message}}</blockquote>
        </div>
    </div>
</section>
