<section class="section">
    <div class="container">
        <h2 class="title">{{'dashboard.title'|translate}}</h2>

        <!-- TODO: Put this in a component to get the dashboard sleeker -->
        <div class="columns">
            <ng-container *ngFor="let character of topCharacters">
                <div class="column">
                    <div class="card"
                         routerLink="/characters/{{character.id}}">
                        <div class="card-content">
                            <div class="media">
                                <div class="media-left">
                                    <figure class="image is-48x48">
                                        <img src="https://randomuser.me/api/portraits/men/{{character.id % 99}}.jpg"
                                             alt="Placeholder image">
                                    </figure>
                                </div>
                                <div class="media-content">
                                    <p class="title is-4">{{character.displayname}}</p>
                                    <p class="subtitle is-6">@{{character.twitterHandle | lowercase}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</section>

<!-- TODO: Add MetaData Hero, Component? -->
<section class="hero is-small is-primary">
    <div class="hero-body">
        <div class="container">
            <nav class="level">
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">Statistic 1</p>
                        <p class="title">3,456</p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">Statistic 2</p>
                        <p class="title">123</p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">Statistic 3</p>
                        <p class="title">456K</p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">Statistic 4</p>
                        <p class="title">789</p>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <!-- TODO: Component for the search so the dashboard gets more simple -->
        <h4 class="title is-4">{{'dashboard.search.title'|translate}}</h4>
        <div class="field has-addons">
            <div class="control is-expanded">
                <p class="control has-icons-left">
                    <input #characterSearch
                           class="input"
                           type="text"
                           [placeholder]="'dashboard.search.placeholder' | translate"
                           (input)="search(characterSearch.value)">
                    <span class="icon is-small is-left"><i class="fas fa-search"></i></span>
                </p>
            </div>
            <div class="control">
                <a class="button"
                   (click)="clearSearch(characterSearch)">
                    <span class="icon"><i class="fas fa-times"></i></span>
                </a>
            </div>
        </div>

        <div class="field is-grouped is-grouped-multiline">
            <ng-container *ngFor="let character of character$ | async">
                <div class="control">
                    <div class="tags are-medium has-addons">
                        <span class="tag is-dark">{{character.id}}</span>
                        <a class="tag"
                           routerLink="/characters/{{character.id}}">{{character.displayname}}</a>
                    </div>
                </div>
            </ng-container>
        </div>

    </div>
</section>