<h2 class="title">{{'dashboard.title'|translate}}</h2>
<div class="columns">
    <ng-container *ngFor="let hero of topHeroes">
        <div class="column">
            <div class="card"
                 routerLink="/heroes/{{hero.id}}">
                <div class="card-content">
                    <div class="media">
                        <div class="media-left">
                            <figure class="image is-48x48">
                                <img src="https://bulma.io/images/placeholders/96x96.png"
                                     alt="Placeholder image">
                            </figure>
                        </div>
                        <div class="media-content">
                            <p class="title is-4">{{hero.name}}</p>
                            <p class="subtitle is-6">@{{hero.name | lowercase}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</div>
<h4 class="title is-4">{{'dashboard.search'|translate}}</h4>
<div class="field has-addons">
    <div class="control is-expanded">
        <p class="control has-icons-left">
            <input #heroSearch
                   class="input"
                   type="text"
                   placeholder="Search a hero..."
                   (input)="search(heroSearch.value)">
            <span class="icon is-small is-left"><i class="fas fa-search"></i></span>
        </p>
    </div>
    <div class="control">
        <a class="button"
           (click)="clearSearch(heroSearch)">
            <span class="icon"><i class="fas fa-times"></i></span>
        </a>
    </div>
</div>

<div class="field is-grouped is-grouped-multiline">
    <ng-container *ngFor="let hero of heroes$ | async">
        <div class="control">
            <div class="tags are-medium has-addons">
                <span class="tag is-dark">{{hero.id}}</span>
                <a class="tag"
                   routerLink="/heroes/{{hero.id}}">{{hero.name}}</a>
            </div>
        </div>
    </ng-container>
</div>
