<section class="section">
    <div class="container">
        <h2 class="title is-1">{{'characters.overview.title'|translate}}</h2>
        <ng-container *ngFor="let charByAlignment of charactersByAlignment | keyvalue">
            <br />
            <h2 class="title is-3">{{charByAlignment.key}}</h2>
            <ng-container *ngFor="let character of charByAlignment.value">
                <article class="media">
                    <figure class="media-left">
                        <p class="image is-64x64">
                            <img class="is-rounded"
                                 src="https://randomuser.me/api/portraits/men/{{character.id % 99}}.jpg"
                                 alt="Placeholder image">
                        </p>
                    </figure>
                    <div class="media-content">
                        <div class="content">
                            <p>
                                <strong>{{character.displayname}}</strong>
                                <small> @{{character.twitterHandle}}</small>
                                <br>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem.
                                Etiam finibus odio quis feugiat facilisis.
                            </p>
                        </div>
                        <div class="columns">
                            <div class="column">
                                <button class="button is-fullwidth is-small"
                                        routerLink="/characters/{{character.id}}">
                                    <span class="icon has-padding-right"><i class="fas fa-folder"></i></span>
                                    <b>{{'characters.overview.actions.view' | translate | uppercase}}</b>
                                </button>
                            </div>
                            <div class="column">
                                <button class="button is-fullwidth is-small"
                                        (click)="triggerDeletion(character)">
                                    <span class="icon has-padding-right"><i class="fas fa-save"></i></span>
                                    <b>{{'general.actions.delete' | translate | uppercase}}</b>
                                </button>
                            </div>
                        </div>
                    </div>
                </article>
            </ng-container>
        </ng-container>
    </div>
</section>

<app-confirm-character-deletion-modal></app-confirm-character-deletion-modal>
