<section class="section">
    <div class="container">
        <h2 class="title">My Heroes</h2>
        <div class="field is-grouped is-grouped-multiline">
            <ng-container *ngFor="let hero of heroes">
                <div class="control"
                     (click)="onSelect(hero)">
                    <div class="tags has-addons">
                        <span class="tag is-dark">{{hero.id}}</span>
                        <span class="tag"
                              [class.is-info]="selectedHero === hero">{{hero.name}}</span>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</section>
<section class="hero is-primary"
         *ngIf="selectedHero">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">My Hero is {{selectedHero.name}}</h1>
            <button class="button is-primary is-inverted is-outlined is-fullwidth"
                    routerLink="/detail/{{selectedHero.id}}">MEET HIM
            </button>
        </div>
    </div>
</section>
