<div class="modal"
     [class.is-active]="heroToDelete != null">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Confirm deletion of Hero</p>
        </header>
        <section class="modal-card-body">
            <p>bli bla blubb!</p>
        </section>
        <footer class="modal-card-foot">
            <nav class="level"
                 style="width: 100%;">
                <div class="level-left">
                    <div class="level-item">
                        <button class="button"
                                (click)="reset()">Cancel
                        </button>
                    </div>
                </div>
                <div class="level-right">
                    <div class="level-item">
                        <button class="button is-danger"
                                (click)="confirm()">Delete Hero
                        </button>
                    </div>
                </div>
            </nav>
        </footer>
    </div>
</div>