<ng-container *ngIf="heroToDelete != null">
    <div class="modal is-active">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">{{'heroes.deletion.header'|translate}}</p>
            </header>
            <section class="modal-card-body">
                <p>{{'heroes.deletion.body'|translate:deletionTranslateParams}}</p>
            </section>
            <footer class="modal-card-foot">
                <nav class="level"
                     style="width: 100%;">
                    <div class="level-left">
                        <div class="level-item">
                            <button class="button"
                                    (click)="reset()">{{'general.actions.cancel'|translate}}
                            </button>
                        </div>
                    </div>
                    <div class="level-right">
                        <div class="level-item">
                            <button class="button is-danger"
                                    (click)="confirm()">{{'general.actions.delete'|translate}}
                            </button>
                        </div>
                    </div>
                </nav>
            </footer>
        </div>
    </div>
</ng-container>